body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav {
    background-color: #282c34;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    position: relative;
    box-shadow: -2px 7px 5px -6px rgba(0,0,0,.61);
}

.nav-logo {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    border-radius: 50%;
    scale: 1.4;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-items: center;

    color: white;
    text-decoration: none;
}
.nav-list li:hover {
    cursor: pointer;
    font-weight: 400;

    scale: 1.05;
}

.nav-list li img {
    height: 1.8rem;
}

.login-btn {
    background-color: orange;
    color: white;
    border: none;
    margin-left: 1rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.name
{
    margin-top: 5rem;
    position: absolute;
    left: 1.8rem;
    bottom: 1;

    font-size: large;
    font-family: cursive;
}

.icon-white {
    color: white;
    border-radius: 50%;
}

.restaurant-container, .shimmer-container
{
    width: 88%;
    margin: 1rem auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}
.restaurant-card, .shimmer-card
{
    /* border: 0.01px solid gray; */
    width: 15rem;
    height: 16rem;

    padding: 0.6rem;
    border-radius:0.5rem;
    box-shadow: -1px 5px 10px 3px rgba(112, 112, 112, .2);

    cursor: pointer;
    font-family: PT Sans, Calibri, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}
.restaurant-card:hover, .shimmer-card:hover
{
    scale: 0.98;
}
.card-img
{
    width: 100%;
    border-radius: 0.5rem;
}

.cuisine,.area
{
    text-overflow: ellipsis;
    font-weight: lighter;
    overflow: hidden;
    margin-top: -1rem;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.res-name
{
    margin-top: 0rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-box, .shimmer-card>ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: -0.5rem;
    margin-left: -2.5rem;
    font-weight: 600;
    font-family: PT Sans, Calibri, sans-serif;
    font-size: 14px;
}
.shimmer-card>ul
{
    /* width: 80%; */
    margin: 0 auto;
    height: 1.5rem;
    background-color: #d5d4d4;

    margin-top: 1.6rem;
    list-style-type: none;
}
.details-box>h4:first-child
{
    padding: 4px 0.5rem;
}

.showbtn
{
    margin: 1.2rem 42%;
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
    border-radius: 5px;

    padding: 8px 0px;
    text-align: center;
    width: 10rem;

    font-family: PT Sans, Calibri, sans-serif;
    font-weight: lighter;
    font-size: medium;
}
.showbtn:active
{
    scale: 0.98;
}

.shimmer-card
{
    /* background-color: rgb(180, 176, 176); */
    animation-name: darken;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;

    animation-fill-mode: forwards;
}
@keyframes darken
{
    0%
    {
        opacity: 0.5;
        scale: 0.99;
    }
    100%
    {
        opcity: 0.7;
        scale: 1;
    }
}

.shimmer-img
{
    width: 100%;
    height: 45%;

    background-color: #dad8d8;
    border-radius: 0.5rem;
}

.shimmer-card>h3,.shimmer-card>h5
{
    height: 0.9rem;
    background-color: #dfdddd;
    border-radius: 0.2rem;

    margin-bottom: -0.8rem;
}

#search-box
{
   margin-left: 33rem;
   margin-top: 1rem;

   outline: none;
   padding: 0.35rem;

   border: 1px solid black;
   border-radius: 0.1rem;
}
.search-btn
{
    padding: 0.2rem 0.4rem;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 0.2rem;
    margin-left: 0.3rem;

    color: white;
    font-family: PT Sans, Calibri, sans-serif;
}

.search-btn:active
{
    scale: 0.95;
}

.footer
{
    background-color: #16191d;
    margin-top: 2rem;
    /* margin-bottom: -1rem; */
    padding: 0.01rem;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.71);
    text-align: center;
}
.footer-text
{
    color: white;
}
.foodzy
{
    font-family: PT Sans, Calibri, sans-serif;
    font-size: large;
    font-weight: 600;
}

a
{
    color: white;
    text-decoration: none;
}
.restaurant-card
{
    color: black;
    text-decoration: none;
}

